<div id="top"></div>
<div fxFlex fxLayout="column" fxLayoutGap="1%" style="position: relative; top: 60px;">
    <div class="card" style="padding: 1%;">
        <div id="printMedia" class="card-body" style="overflow: auto;">
            <h3 class="card-title">মূল লেখা > {{ArticleData.title}}</h3>
            <h4 class="card-subtitle mb-2 text-muted">-- {{ArticleData.author}}</h4>
            <mat-divider></mat-divider>

            <div style="padding: 3%;">
                <p class="card-text" *ngFor='let paragraph of ArticleData.paragraphs' [innerHTML]="paragraph">
                </p>
            </div>
        </div>
    </div>
</div>