<mat-toolbar style="background-color: #E8EAF6;">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onSidenavToggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
    </div>
    <div>
        <object height="80" width="100" type="image/svg+xml" data="/assets/sandhi.svg">
            Sandhikhan Logo!
        </object>
    </div>

    <div fxFlex fxLayoutAlign="end" fxHide.xs>

        <a mat-button routerLinkActive="active" [routerLink]="['/home/currentissue']"> সংস্করণ </a>
        <a mat-button style="display: none;">সংরক্ষাণাগার </a>

    </div>
</mat-toolbar>