<mat-nav-list>
    <object type="image/svg+xml" data="/assets/sandhi.svg">
        Sandhikhan Logo!
    </object>
    <a mat-list-item routerLinkActive="active" [routerLink]="['/home/currentissue']"> সংস্করণ </a>
    <mat-list>
        <mat-list-item> <a routerLinkActive="active" [routerLink]="['/archive/issue-archive']"> সন্ধিক্ষণের অন্যান্য  সংস্করণ </a> </mat-list-item>
        <mat-list-item> সন্ধিক্ষণের PDF সংস্করণ </mat-list-item>
        <mat-list-item> <a routerLinkActive="active" [routerLink]="['/archive/webexclusive-archive']">ওয়েবের অন্যান্য লেখা</a> </mat-list-item>
    </mat-list>
</mat-nav-list>